$darkBgColor: #2B2B2B; 
$accentSalmon: #DE1B1B; 
$lightBgColor: #F6F6F6; 
$accentGreen: #E9E581;


html,
body {
  height: 100%;
  width: 100%;
}

hr {
  border-color: $accentSalmon;
  border-width: 3px;
}

.navbar-default {
	transition: all 0.35s;
}